{% extends 'home/base.html' %}



<!DOCTYPE html>

{% load static %}

{% block content %}
<html>

<head>

<title>Login</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">

<style>

body{
  height:100vh;
  background-image:linear-gradient(to bottom right, pink, blue);
  background-size:cover;
  background-repeat:no-repeat;
  font-family: "Comic Sans";
}

lable{
  width:400px;
  display:inline-block;
  text-align:right;
}

#maindiv{
  background-color:#fcf5ee;
  padding:50px;
  width:auto;
  border-radius:50%;
  opacity:0.88;
}

</style>

</head>


<body>

<center>
<div class='container' id="maindiv">
<img src="{% static '/home/profileimg.png' %}" class="rounded-circle mx-auto d-block" width=150px>

  <h4>{{ error }}</h4>
<div class="container">

<h1 style="color:brown"><b><i>Profile</i></b></h1>
<div style="font-size:20px">
  <h4>Username : {{ username }}</h4>
  <h4>Email Id : {{ email }}</h4>
  <form method="POST" action="">
    {% csrf_token %}

    <p><lable>First name : {{ form.firstname }}</lable></p>
    <p><lable>Last name : {{ form.lastname }}</lable></p>
    <p><lable>Phone Number : {{ form.phone }}</lable></p>

    <button class="btn btn-info" type="submit">Save Changes</button>
  </form>
</div>

</div>
</div>
</center>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>


</body>

</html>
{% endblock %}
